
<h1 class= "h3 ml-3 my-5 text-light d-block d-md-none" > Select a topic to  <br> start your call </h1>
<h1 class= "h3 ml-3 my-5 text-light d-md-block d-none" > Select a topic to start your call </h1>


  <ul cass="list-group list-group-flush bg-transparent">
    <% @subjects.each do |subject| %>
      <li class = "list-group-item bg-transparent col-5"> 
        <%= link_to subject.title, sessions_show_path(subject: subject), method: :post, class: "text-light h5" %> 
        <p class="text-warning mb-1"> Mentor: <%= subject.teacher %> </p> 
      </li>
    <% end %>
  </ul>



<% if @clicked %>
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <script>
  callFrame = window.DailyIframe.createFrame({
  showLeaveButton: true,
  iframeStyle: {
    position: 'fixed',
    top: 0,
    right: 0,
    width: '50%',
    height: '100%'
  }
});

  callFrame.join({ url: 'https://team54.daily.co/hello' })
</script>

<% end %>