<div class="bgbg">
<div class="row mx-0">
  <div class="col-12 col-md-6 mt-5">
    <h1 class="h1 text-light offset-1 pb-4 mb-2 ml-1 ml-md-3 "> Welcome to TechMe </h1>
    <div class="pt-5 mt-5 pt-md-1 mt-md-1 h3 offset-1 mt-2 text-light pb-lg-4 ml-1 ml-md-3"> Learn programming with experienced devs trough live video sessions. </div>
    <div class="pt-5 mt-5 pt-md-1 mt-md-1 h3 offset-1 mt-4 text-light pb-lg-3 ml-1 ml-md-3 "> Get your first session free. </div>
    <%= link_to 'Start my free session', sessions_path, class: "btn btn-light mt-4 mb-0 pb-0 offset-1 mt-2 text-strong font-weight-bolds ml-1 ml-md-3" %>
  </div>
</div>
<div>
</div>

  <div class="mt-4 pt-1">
    <div class="py-4 h4 px-5 mb-0 text-dark bg-light text-center pt-5"> Learn specific topics with the help of an experienced mentor. </div>
    <%= image_tag 'https://github.com/mkezmkez/tech-me/blob/master/app/assets/images/stack.png?raw=true', class: "img-fluid" %>
    </div> 
  </div>
</div>