<div class="bgbg">
<div class="row mx-0">
  <div class="col-5 mt-5">
    <h1 class="h1 text-light offset-1 mt-5"> Welcome to TechMe </h1>
    <div class="h3 offset-1 mt-4 text-light"> Learn programming with experienced devs trough live video sessions. </div>
    <div class="h3 offset-1 mt-4 text-light"> Try it for free! </div>
    <%= link_to 'Start my free session', sessions_path, class: "btn btn-light mt-4 offset-1 mt-2 text-strong font-weight-bolds" %>
  </div>
</div>
  <div></div>

  <div class="mt-5 pt-1">
    <div class="py-4 h3 px-5 mb-0 text-dark bg-light align-center"> Learn specific topics with the help of an experienced mentor. </div>
    <%= image_tag 'stack.png', class: "img-fluid" %>
    </div> 
  </div>
</div>